<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/viewall.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Student-register</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
                <% for(var i=0;i<nav.length;i++){%>
                        <li class="nav-item">
                            <a href="<%=nav[i].link%>" class="nav-link">
                                <%=nav[i].tittle%>
                            </a>
                        </li>
                <%}%>    
          </ul>
        </div> 
      </nav>
      <br>
     <div class="container">
            <div class="cardheight  ">
                <% for(var i=0;i<100;i++){%>
                    <div class="card-content">
                        <table>
                            <tr>
                                <td>
                                    <h6>Student name:
                                       
                                </h6>
                                    <h7>Addmission no:
                                        
                                    </h7><br>
                                    <h7>College:
                                        
                                    </h7>
                                </td>
                            </tr>
                        </table>
                    </div>

               <%}%> 
            </div>
    </div>
</body>
</html>